.xyz {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(207, 204, 200);
  }
  
 .xyz label {
    margin-left: 160px; 

    display: block;
    margin-bottom: 5px;
  }
  
.xyz  input,
  select {
    margin-left: 160px; 
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
 .xyz button {
    margin-left: 160px; 

    width: 50%;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .xyz form {
      padding: 10px;
    }
  
    .xyz label,
    input,
    select {
      font-size: 14px;
    }
  
    .xyz button {
      font-size: 16px;
    }
  }
  







/* 
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  label,
  input,
  select,
  button {
    width: 100%; 
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 601px) {
    label,
    input,
    select,
    button {
      margin-left: 10%; 
    }
  
    input,
    select {
      width: 80%; 
    }
  }
    */